%% -*- erlang -*-
{erl_opts, [debug_info]}.
{xref_checks, [undefined_function_calls]}.
{deps, [
    {cowboy, ".*",{git, "https://github.com/ninenines/cowboy.git", "1.0.0"}},
    {gen_leader, ".*", {git, "https://github.com/garret-smith/gen_leader_revival.git", "master"}},
    {gproc, ".*", {git, "https://github.com/esl/gproc.git", "master"}},
    {epgsql, ".*", {git, "https://github.com/epgsql/epgsql.git", {tag, "3.1.0"}}},
    {poolboy, ".*", {git, "https://github.com/devinus/poolboy.git", {tag, "1.3.0"}}},
    {alog, ".*", {git, "https://github.com/siberian-fast-food/alogger", {tag, "4.0.5"}}},
    {jsonx, ".*", {git, "https://github.com/mkrentovskiy/jsonx.git", "master"}},
    {erlydtl, ".*", {git, "https://github.com/erlydtl/erlydtl.git", "stable"}},
    {gun, ".*", {git, "https://github.com/ninenines/gun.git", "master"}},
    {oauth2_client, ".*", {git, "https://github.com/mkrentovskiy/oauth2_client.git", "master"}},
    {sync, ".*", {git, "https://github.com/rustyio/sync.git", "master"}}
  ]}.
{sub_dirs, ["rel"]}.
