[
  {wa, [
      {modules, [
        {pool, persist_pgsql, [
          {pgdb, 2, [
            {host, "127.0.0.1"}, 
            {port, 5432},
            {db, "wa"},
            {user, "wa"},
            {password, "wa"}
          ]}
        ]},
        {mail_sender, #{
            domain => <<"localdomain">>,
            url => <<"...">>,
            from => <<"info@localdomain">>,
            pub_key => <<"...">>,
            priv_key => <<"...">>
          }}
       ]},
      {salt, <<"...">>},
      {social_fallback_url, <<"/">>},
      {social, [
        {<<"facebook">>, #{
          client_id => <<"...">>,
          client_secret => <<"...">>,
          callback_uri => <<"/oauth/facebook/callback">>,
          scope => <<"email">>,
          authorize_uri => <<"https://www.facebook.com/dialog/oauth">>,
          token_uri => <<"https://graph.facebook.com/oauth/access_token">>,
          callbacks => [{session, social}]
        }},
        {<<"google">>, #{
          client_id => <<"...">>,
          client_secret => <<"...">>,
          callback_uri => <<"/oauth/google/callback">>,
          scope => <<"https://www.googleapis.com/auth/userinfo.email ",
                     "https://www.googleapis.com/auth/userinfo.profile">>,
          authorize_uri => <<"https://accounts.google.com/o/oauth2/auth">>,
          token_uri => <<"https://www.googleapis.com/oauth2/v3/token">>,
          callbacks => [{session, social}]
        }},
      {<<"vk">>, #{
          client_id => <<"...">>,
          client_secret => <<"...">>,
          callback_uri => <<"/oauth/vk/callback">>,
          scope => <<"uid,first_name,last_name,sex,photo">>,
          authorize_uri => <<"https://oauth.vk.com/authorize">>,
          token_uri => <<"https://oauth.vk.com/access_token">>,
          callbacks => [{session, social}]
        }}
      ]}
    ]},
  {alog, [
      {enabled_loggers, [
          {console_log, alog_tty}
          %, {syslog_log, alog_syslog}
        ]},
      %{install_error_logger_handler, false},

      {flows, [
          {{mod, ['_']}, {'=<', debug}, [
              {{console_log, alog_tty}, alog_tty}
              %, {{syslog_log, alog_syslog}, alog_syslog}
            ]}
        ]},

      {alog_tty, []},
      {alog_syslog, [
          {ident, "alogger"},
          {logopt, [cons, perror, pid]},
          {facility, user}
        ]}
    ]} 
].
