[
  {wa, [
      {modules, [
        {pool, persist_pgsql, [
          {pgdb, 2, #{
            host => "127.0.0.1", 
            port => 5432,
            db => "wa",
            user => "wa",
            password => "wa"
          }}
        ]},
        {pool, paypal_api, [
          {paypal, 3, #{
            url => "https://api-3t.sandbox.paypal.com/nvp",
            user => <<"...">>,
            password => <<"...">>,
            signature => <<"...">>,
            redirect_prefix => <<"https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_express-checkout&token=">>,
            success_url => <<"http://localhost:8080/paypal/success">>,
            fail_url => <<"http://localhost:8080/paypal/fail">>
          }}
        ]},
        {mail_sender, #{
            domain => <<"localdomain">>,
            url => <<"...">>,
            from => <<"info@localdomain">>,
            pub_key => <<"...">>,
            priv_key => <<"...">>
          }},
        payments
       ]},
      {salt, <<"...">>},
      {recaptcha_key, <<"...">>},
      {social_fallback_url, <<"/">>},
      {social, #{
        <<"facebook">> => #{
          client_id => <<"...">>,
          client_secret => <<"...">>,
          callback_uri => <<"/oauth/facebook/callback">>,
          scope => <<"email">>,
          authorize_uri => <<"https://www.facebook.com/dialog/oauth">>,
          token_uri => <<"https://graph.facebook.com/oauth/access_token">>,
          callbacks => [{session, social}]
        },
        <<"google">> => #{
          client_id => <<"...">>,
          client_secret => <<"...">>,
          callback_uri => <<"/oauth/google/callback">>,
          scope => <<"https://www.googleapis.com/auth/userinfo.email ",
                     "https://www.googleapis.com/auth/userinfo.profile">>,
          authorize_uri => <<"https://accounts.google.com/o/oauth2/auth">>,
          token_uri => <<"https://www.googleapis.com/oauth2/v3/token">>,
          callbacks => [{session, social}]
        },
        <<"vk">> => #{
          client_id => <<"...">>,
          client_secret => <<"...">>,
          callback_uri => <<"/oauth/vk/callback">>,
          scope => <<"uid,first_name,last_name,sex,photo,email">>,
          authorize_uri => <<"https://oauth.vk.com/authorize">>,
          token_uri => <<"https://oauth.vk.com/access_token">>,
          callbacks => [{session, social}]
        }
      }},
      {payments, #{}}
    ]},
  {lager, [
    {colored, true},
    {handlers, [
      {lager_console_backend, [info, 
        {lager_default_formatter, 
          [time, " [",severity,"] ", module, ":", function, ":", line, " ", message, "\n"]}
      ]},
      {lager_file_backend, [{file, "logs/error.log"}, {level, error}]},
      {lager_file_backend, [{file, "logs/console.log"}, {level, info}]}
    ]}
  ]} 
].
